<a href="https://colab.research.google.com/github/marcelomoreiradossantos/marcelomoreiradossantos/blob/circleci-project-setup/exe002_covid19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importação do pacote pandas

In [ ]:
import pandas as pd

#Acesso aos dados e geração do Frame

In [ ]:
url = 'https://api.covid19api.com/live/country/brazil/status/confirmed/date/2021-03-01T00:00:00Z'
dados = pd.read_json(url)

#Excluindo os campos desnecessário

In [ ]:
dados.drop('ID', axis = 1, inplace=True)
dados.drop('City', axis = 1, inplace=True)
dados.drop('CityCode', axis = 1, inplace=True)
dados.drop('Lat', axis = 1, inplace=True)
dados.drop('Lon', axis = 1, inplace=True)
dados.drop('Date', axis = 1, inplace=True)

#Visualização dos dados e campos necessários

In [ ]:
dados.head()

  Country CountryCode        Province  Confirmed  Deaths  Recovered  Active
0  Brazil          BR           Piaui     174008    3352     169970     686
1  Brazil          BR  Rio de Janeiro     583795   33093     546695    4007
2  Brazil          BR      Pernambuco     300104   11007     257881   31216
3  Brazil          BR            Para     365411    8643     342801   13967
4  Brazil          BR         Roraima      82126    1100      76102    4924